body {
   font-family: Helvetica, Arial, sans-serif;
  background: #f2f2f2;
  background-color: #BCD4E6;
  padding: 20px;
  margin: 0; /* Reset margin */
}

/* Center-align the heading */
h1 {
  text-align: center;
  margin-bottom: 30px;
}

/* Style labels, input fields, selects, and buttons */
label, input, select, button {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  height: 40px;
  font-size: 16px;
}

/* Styling for the output container */
#output-container {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  margin-top: 20px; /* Adjusted margin-top */
}

/* Styling for the output box within the container */
.output-box {
  padding: 10px;
  border: 1px solid #999;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 10px;
}
