body {
	font-family: "Open Sans", sans-serif;
	color: #444444;
  }
  
  a {
	color: #47b2e4;
	text-decoration: none;
  }
  
  a:hover {
	color: #73c5eb;
	text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
	font-family: "Jost", sans-serif;
  }

input {
	height: 32px;
	border: 1px solid #ccc;
	padding: 0 8px;
	border-radius: 6px;
	margin-bottom: 16px;
	width: calc(50% - 152px);
}

.btn-container {
	display: flex;
  }

.title-header {
	font-size: 25px;
	font-weight: 200;
}
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.btn-container .btn {
	position: relative;

	display: inline-block;
	margin: 20px;
  }

  

  /* Hero Section */

  #hero {
	width: 100%;
	height: 100vh;
	background: url("./images/hero.jpg");
	background-size: cover;
  }
  
  #hero .container {
	padding-top: 72px;
  }
  
  #hero h1 {
	margin: 0 0 10px 0;
	font-size: 48px;
	font-weight: 700;
	line-height: 56px;
	color: #fff;
  }
  
  #hero h2 {
	color: rgba(255, 255, 255, 0.6);
	margin-bottom: 50px;
	font-size: 24px;
  }
  
  #hero .btn-get-started {
	font-family: "Jost", sans-serif;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 10px 28px 11px 28px;
	border-radius: 15px;
	transition: 0.5s;
	margin: 10px 0 0 0;
	color: #fff;
	background: #47b2e4;
	width: 200px;
	height: 80px;
	text-align: center;
  }
  
  #hero .btn-get-started:hover {
	background: #209dd8;
  }
  
  #hero .btn-watch-video {
	font-size: 16px;
	display: flex;
	align-items: center;
	transition: 0.5s;
	margin: 10px 0 0 25px;
	color: #fff;
	line-height: 1;
  }
  
  #hero .btn-watch-video i {
	line-height: 0;
	color: #fff;
	font-size: 32px;
	transition: 0.3s;
	margin-right: 8px;
  }
  
  #hero .btn-watch-video:hover i {
	color: #47b2e4;
  }
  
  #hero .animated {
	animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  
  @media (max-width: 991px) {
	#hero {
	  height: 100vh;
	  text-align: center;
	}
  
	#hero .animated {
	  animation: none;
	}
  
	#hero .hero-img {
	  text-align: center;
	}
  
	#hero .hero-img img {
	  width: 50%;
	}
  }
  
  @media (max-width: 768px) {
	#hero h1 {
	  font-size: 28px;
	  line-height: 36px;
	}
  
	#hero h2 {
	  font-size: 18px;
	  line-height: 24px;
	  margin-bottom: 30px;
	}
  
	#hero .hero-img img {
	  width: 70%;
	}
  }
  
  @media (max-width: 575px) {
	#hero .hero-img img {
	  width: 80%;
	}
  
	#hero .btn-get-started {
	  font-size: 16px;
	  padding: 10px 24px 11px 24px;
	}
  }
  
  @keyframes up-down {
	0% {
	  transform: translateY(10px);
	}
  
	100% {
	  transform: translateY(-10px);
	}
  }
  
